@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    
    --primary: 221 83% 53%;
    --primary-foreground: 210 40% 98%;
    
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    
    --primary: 217 91% 60%;
    --primary-foreground: 0 0% 100%;
    
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
  }
}

html, body {
  height: 100%;
}
